# Don't track content of these folders
# IDE configurations
.idea/

# Datasets
Data

# sample images
semantic-image-inpainting-master/sample*.png

# python cached files
semantic-image-inpainting-master/src/*.pyc